body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Baloo Tamma 2', cursive;
font-family: 'Noto Sans JP', sans-serif;
}

*{
  top: 0;
  left: 0;
}
:placeholder-shown{
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}
input text{
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}
textarea{
  font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 5px;
}
body{
   background-color: #caced1; 
}

.navbar {
  display: flex;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  margin: auto;
  background-color: #fff;
  position: fixed;
  width: 100vw;
  z-index: 2;
 
}
 @media screen and (max-width: 700px) {
  .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .navbar img{
    text-align: center;
    width: 100px;
    /* margin: auto; */
  }
  .links {
  margin-left: 0;
  padding: 20px;
  font-size: medium;  
  text-align: center;  
}
   .page{
     top: 100px;
   }
   .signin, .signup{
     box-shadow: 0 0 0 ;
     background-color: #dadee0;
   }
   .signin input , .signup input , .signup select{
     height: 35px;
     width: 90%;
   }
    .home{
      width: auto;
      margin: auto;
      top: 140px;
    }
     textarea{
      column-width: auto;
    } 
} 
  
.navbar img{
  margin-left: 10px;
  filter: invert(0);
}
.links{
 
  padding: 20px;  
  float: right;
}
@media screen and (min-width: 701px) {
  .links{
  margin-left: auto;}
  .page{
    top:71px; 
  }
  .signin, .signup{
    box-shadow: 8px 8px 15px 2px #111;
    background-color: #fff;

  }
  .signup{
    width:30%;
  }
  .signin input , .signup input , .signup select{
    height: 35px;
    width: 80%;
  }
  .home{
    width: 600px;
    top: 71px;
  }
  .post-content p{
    width: 70%;
  }
  

}

.links a{
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
.links a:focus{
  border: 1px solid #34b9ce;
  border-radius: 10px;
  background-color: #34b9ce;
  color: #fff;
  /* font-weight: bold;
  font-size: large; */

}
.page{
  /* background-color: #dadee0; */
display: flex;
block-size: 90vh;
justify-content: center;
position: relative;
      /* top:71px; */
}

.signin, .signup{
 
  border:  0px solid black;
  border-radius: 20px;
  padding: 20px;
 /* max-width: 30%;  */
  margin:  50px auto auto auto;
}
.signin{
  min-width: 350px;  
  max-width: 30%;
}
.signin h1 , .signup h1{
  text-decoration: underline;
  color: #34b9ce;
}
.signup{
  margin-top: 30px;
  
}
.signup a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  color: #34b9ce;
}

@keyframes example {
  0%   {transform: scale(1);}
  50%   {transform: scale(.9);}
  100% {transform: scale(1); }
}
.signup a:hover {
  text-decoration: underline;
}
.signup button:active ,.signin button:active{
  animation-name: example;
  animation-duration: .5s;
  animation-iteration-count: 3;
}
.loginButton:hover ,.signupButton:hover{
  background-color: #34b9ce;
}
.signin input , .signup input , .signup select{
  margin: 10px;
  outline: none;
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  padding: 5px;
  color: #111;
  font-size: large;
}
.signup input::placeholder{
  color: rgb(97, 93, 93);
}


.signup h1 {
 float: left;
 padding-left: 20px;
}

.loginButton , .signupButton {
  outline: none;
  background-color: #34b9cebe;
  font-size: large;
  font-weight: bold;
  color: white;
  height: 30px;
  margin: 15px auto;
  border: 1px solid #34b9ce;
  cursor: pointer;
  border-radius: 5px;
}

.forgot{
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  color: #34b9ce;

}
.forgot:hover{
  text-decoration: underline;
}
.Create{
  background-color: #ecb827d0;
   margin: 40px; 
   padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  height: 39px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.Create:hover{ background-color: #ecb827;
  text-decoration: none;
  color: #fff;
}
.loading{
  border: 5px solid black; 
  border-radius: 150%; 
  width: 50px;
  margin: auto;
  height: 50px;
  animation-name: load;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  border-top-color:transparent; border-right-color:  transparent; border-bottom-color: transparent;
}
  @keyframes load{
  0% {transform: rotatez(0deg);}
  20% {transform: rotatez(72deg);}
  40% {transform: rotatez(144deg);}
  60% {transform: rotatez(216deg);}
  80% {transform: rotatez(288deg);}
  100% {transform: rotateZ(360deg);}
 }  
    .home{
      position: relative;
      overflow: hidden;
      
      /* width: 700px; */
      background-color: white;
      margin: auto;
    }
    .posting textarea{
      margin-top: 10px;
      outline: none;
      border: 2px solid black;
      border-radius: 25px;
    }
    .posting button{
      outline: none;
      border: 2px solid #34b9ce;
      border-radius: 10px;
      background-color: #34b9ced0;
      color: #fff;
      font-size: large;
      padding: 2px 5px;
      cursor: pointer;
    }
    .posting button:hover{
      background-color: #34b9ce;
    }
    .posting button:active{
      animation-name: example;
      animation-duration: .5s;
      animation-iteration-count: infinite;
    }
    
    .posts{
      width: 90%;
      margin: 10px auto;
    }
    .posts h4{
      display: inline;
    }
    .buttons{
      margin-left: auto; 
    }
    .edit, .del{
      padding-right: 5px;
      vertical-align: baseline;
    }
    .post-content{
      border: 2px solid black;
      margin-bottom: 10px;
      margin-top: 10px;
      border-radius: 20px;
      padding-bottom: 0;
    
    }
    .comments{
      margin-bottom: 10px;
    }
    .firstline h4{
      left: 0;
      font-weight: bold;
    }
    .firstline {
       display: flex; 
      top: 0;
      left: 0;
      border-bottom: 1px solid black;
      margin: auto;
      padding: 0 10px 10px 10px;
      align-items: center;
      margin-bottom: 4px;
    }
    .firstline button{
      margin-left: auto;
      padding: 2px; 
      cursor: pointer;
      outline: none;
      background-color: #fff;
      border: 1px solid transparent;
    }
    .del:hover ,.edit:hover{
      filter: invert(1);
    }
    
    .post-content  a{
     text-decoration: none;
    }
    .signupsucces{
      top: 200px;
      position: relative;
    }
    .signupsucces img{
      background-color: transparent;
      height: 80px;
      animation-name: validated;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
    @keyframes validated {
      0%{transform: scale(1); }
      50%{transform: scale(0); }
      100%{transform: scale(1);  }
    }
/* .comments input , .comments button { */
  .comments{
  border: 1px solid black;
  background-color: #dadee0;
  border-radius: 2px 2px 20px 20px;
  vertical-align: baseline;
  /* display: flex; */
  padding-bottom: 0;
  margin-bottom: 0;
}
.comments button , .comments input{
  background-color: transparent;
  border: 1px solid transparent;
  padding-left: 5px;
}

.comments button{
   float:right; 
   cursor: pointer;
}
.comments button:hover{
  filter: invert(.25);
}
.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  float: left;
  padding-left: 10px;
}

.fa:hover {
  color: darkblue;
}
.details{
   top: 200px;
   position: relative;
}